.brand-image{
    
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  max-width: 200px; /* Adjust as needed */
  display: block;

  border-radius: ;
}


.box{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}